@font-face {
	font-family: '72';
	src: url('theme/baseTheme/fonts/72-Regular-full.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '72';
	src: url('theme/baseTheme/fonts/72-Bold-full.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: '72';
	src: url('theme/baseTheme/fonts/72-Light-full.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BusinessSuiteInAppSymbols';
	src: url('theme/baseTheme/fonts/BusinessSuiteInAppSymbols.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
