@font-face {
	font-family: 'SAP-icons';
	src: url('theme/baseTheme/fonts/SAP-icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SAP-icons-TNT';
	src: url('theme/baseTheme/fonts/SAP-icons-TNT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}