.demo-page {
  & .demo-page-section-title {
    margin-top: 2rem;
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
  }
  & .demo-page-item-title {
    margin-top: 1rem;
  }
}

