.demo-page {
  & .fd-panel + .fd-panel {
    margin-top: 2rem;
  }
  & .fd-panel__header {
    padding: 0 2rem;
  }
  & .fd-panel__content {
    padding: 0 2rem;
    border-bottom: 0;
  }
  & .demo-page-item-title {
    margin-top : 1rem;
  }
}

